<section >
    <div class="columns">
    <div class="column is-2"></div>
    <div class="column is-8">
    <h1 class="title" style="color:#5271ff; margin-bottom: 20px;">
    Contrat Prévoyance Décès Waloude
</h1>
<div class=WordSection3>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Droits et langue applicables&nbsp;: </span></b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>La loi applicable aux relations précontractuelles et au contrat est
la loi<o:p></o:p></span></p>

</div>

<span style='font-size:16.0pt;font-family:"Calibri","sans-serif";mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;color:#28324E;
mso-ansi-language:FR;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'><br
clear=all style='page-break-before:auto;mso-break-type:section-break'>
</span>

<div class=WordSection4>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Française, y compris les dispositions applicables aux
départements du Haut-Rhin et de la Moselle et sous réserve, pour des risques
situés dans la Principauté du Monaco, des dispositions impératives de la loi
monégasque. Toute relation avec l’adhérent se fait en langue française, ce que ce
dernier accepte<o:p></o:p></span></p>

</div>

<span style='font-size:16.0pt;font-family:"Calibri","sans-serif";mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;color:#28324E;
mso-ansi-language:FR;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'><br
clear=all style='page-break-before:auto;mso-break-type:section-break'>
</span>

<div class=WordSection5>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><span style='mso-spacerun:yes'> </span>Expressément.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Autorité de contrôle&nbsp;:<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ACM IARD SA est placée sous le contrôle de&nbsp;: Autorité de
Contrôle Prudentiel et de Résolution 61 rue Taitbout, 75436 PARIS Cedex 09.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Informatique et Libertés&nbsp;</span></b><span style='font-size:
16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>(loi
n° 78-17 du 06/01/78 modifiée par la loi n° 2004-801 du 06/08/04)&nbsp;: Les
informations personnelles recueillies dans le cadre de la relation font l’objet
d’un traitement principalement pour les finalités suivantes&nbsp;: gestion de
la relation, prospection et animations commerciales, études statistiques,
obligations légales et prévention de la fraude, cette dernière finalité pouvant
conduire à l’inscription sur une liste de personnes présentant un risque de
fraude. Pour les mêmes finalités que celles énoncées ci-dessus, ces
informations pourront être utilisées par les entités de notre groupe et
pourront le cas échéant être transmises à nos partenaires, mandataires,
réassureurs, organismes professionnels et fonds de garanties, sous-traitants
missionnés ainsi qu’aux autorités publiques. Les informations médicales sont
traitées dans le respect de la confidentialité médicale. Afin de se conformer à
ses obligations légales, le responsable du traitement met en œuvre un
traitement de surveillance ayant pour finalité la lutte contre blanchiment des
capitaux et le financement du terrorisme. Conformément à la loi n° 78-17 du
06/01/1978 modifiée par la loi n° 2004-801 du 06/08/2004 relative à
l’informatique, aux fichiers et libertés, vous disposez d’un droit d’accès, de
rectification, de mise à jour et d’opposition, notamment pour une utilisation à
des fins de prospection commerciale, aux informations vous concernant. Vous
pouvez exercer ces droits en adressant un courrier à votre assureur à l’adresse
suivante&nbsp;: 63 chemin Antoine Pardon, 69814 TASSIN CEDEX.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Réclamation&nbsp;: </span></b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>En
cas de difficulté<b> </b>dans l’application ou l’interprétation du contrat,
consultez d’abord votre interlocuteur habituel. Si sa réponse ne vous satisfait
pas, vous pouvez adresser votre réclamation au Responsable des Relations
Consommateurs de ACM IARD SA – 34 rue du Wacken -67906 STRASOURG CEDEX 9. Une
réponse vous sera apportée dans le plus bref délai, lequel ne saurait excéder
deux mois, sauf circonstances exceptionnelles qui vous seraient alors exposées.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Médiation&nbsp;: </span></b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>Dans
l’éventualité d’une persistance de la difficulté ou du différend, les
coordonnées du Médiateur pourront vous être communiquées sur simple demande
auprès de votre interlocuteur habituel. Exerçant sa mission en toute
Indépendance, le Médiateur ne peut intervenir qu’après épuisement des procédures
internes de règlement des litiges opposant un particulier à l’assureur et à la
condition qu’aucune action contentieuse n’ait été engagée. Seuls les litiges
opposant un particulier à l’assureur sont de la compétence du Médiateur. Après
avoir instruit le dossier, le Médiateur rend un avis motivé dans les trois mois.
Cet avis ne lie pas les parties. Pour des plus amples informations, nous vous
invitons à consulter la Charte de Médiation de l’Assurance sur le site de
l’association «&nbsp;La Médiation de l’Assurance&nbsp;».<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center;tab-stops:59.0pt'><b><u><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>DISPOSITIONS SPECIFIQUES A LA VENTE A DISTANCE ET AU DEMARCHAGE<o:p></o:p></span></u></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoListParagraphCxSpFirst style='text-align:justify;text-indent:-18.0pt;
mso-list:l1 level1 lfo5;tab-stops:59.0pt'><![if !supportLists]><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><span style='mso-list:Ignore'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></b><![endif]><b><span style='font-size:16.0pt;mso-bidi-font-family:
Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>Dispositions spécifiques
à la vente à distance et au démarchage<o:p></o:p></span></b></p>

<p class=MsoListParagraphCxSpLast style='margin-left:54.0pt;mso-add-space:auto;
text-align:justify;text-indent:-18.0pt;mso-list:l7 level1 lfo6;tab-stops:59.0pt'><![if !supportLists]><span
style='font-size:16.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#28324E;mso-bidi-font-weight:bold'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Information précontractuelle<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>La présente notice d’Information vaut également information précontractuelle
à caractère commercial dans le cadre de la vente à distance et au démarchage.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoListParagraph style='margin-left:54.0pt;mso-add-space:auto;
text-align:justify;text-indent:-18.0pt;mso-list:l7 level1 lfo6;tab-stops:59.0pt'><![if !supportLists]><span
style='font-size:16.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#28324E;mso-bidi-font-weight:bold'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Droit de renonciation à l’adhésion au contrat<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Vous disposez de la faculté de renoncer au contrat lorsqu’il a
été conclu à la suite d’une opération de démarchage ou dans les conditions
d’une vente à distance. L’article L112-9 alinéa 1 du code des assurances énonce
notamment&nbsp;:<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>«&nbsp;l. Toute personne physique qui fait l’objet d’un
démarchage à son domicile , à sa résidence ou à son lieu de travail, même à sa
demande, et qui signe dans ce cadre une proposition d’assurance ou un contrat à
des fins qui n’entrent pas dans le cadre de son activité commerciale ou
professionnelle, a la faculté d’y renoncer par lettre recommandée avec demande
d’avis de réception pendant le délai de quatorze jours calendaires révolus à
compter du jour de la conclusion du contrat, sans avoir à justifier de
motifs<span style='mso-spacerun:yes'>  </span>ni à supporter de pénalités.»<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Ce droit vous est reconnu pendant un délai de 14 jours
calendaires révolus. Ce délai commence à courir à compter du jour&nbsp;:<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpFirst style='text-align:justify;text-indent:-18.0pt;
mso-list:l8 level1 lfo1;tab-stops:59.0pt'><![if !supportLists]><span
style='font-size:16.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:
Calibri;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:#28324E'><span
style='mso-list:Ignore'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span style='font-size:16.0pt;mso-bidi-font-family:
Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>De la conclusion de
l’adhésion.<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpLast style='text-align:justify;text-indent:-18.0pt;
mso-list:l8 level1 lfo1;tab-stops:59.0pt'><![if !supportLists]><span
style='font-size:16.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:
Calibri;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:#28324E'><span
style='mso-list:Ignore'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span style='font-size:16.0pt;mso-bidi-font-family:
Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>De la réception des
informations obligatoires et conditions contractuelles si cette date est
postérieure, et expire le dernier jour à 24h00.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Afin de renoncer au contrat, il convient de nous adresser, à
l’adresse figurant sur le bulletin d’adhésion, une lettre recommandée avec
demande d’avis de réception suivant modèle ci-dessous&nbsp;:<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>«&nbsp;Je soussigné (nom, prénom) demeurant (adresse de
l’adhérent) déclare renoncer au contrat d’assurance n° (numéro de l’adhésion
figurant sur le bulletin d’adhésion) auquel j’avais souscrit le (date de
souscription) par l’intermédiaire de (nom et adresse de l’intermédiaire ayant
commercialisé le contrat). (Date) (Signature de l’adhérent).&nbsp;»<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>La renonciation entraîne la résiliation du contrat à compter de
la date de réception de la lettre recommandée. En cas de renonciation, vous
n’êtes tenu qu’au paiement de la partie de prime ou de cotisation correspondant
à la période pendant laquelle le risque a couru, cette période étant calculée
jusqu’à la date de la Résiliation.<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpFirst style='margin-left:54.0pt;mso-add-space:
auto;text-align:justify;tab-stops:59.0pt'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoListParagraphCxSpLast style='margin-left:54.0pt;mso-add-space:auto;
text-align:justify;text-indent:-18.0pt;mso-list:l7 level1 lfo6;tab-stops:59.0pt'><![if !supportLists]><span
style='font-size:16.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
mso-bidi-font-family:Symbol;color:#28324E;mso-bidi-font-weight:bold'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Date de prise d’effet de l’adhésion au contrat <o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Le contrat prend effet à la date figurant sur le bulletin
d’adhésion sous réserve du paiement effectif des cotisations. Il ne peut
prendre effet avant l’expiration du délai de renonciation sauf acceptation expresse
de l’adhérent.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoListParagraph style='text-align:justify;text-indent:-18.0pt;
mso-list:l1 level1 lfo5;tab-stops:59.0pt'><![if !supportLists]><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><span style='mso-list:Ignore'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></b><![endif]><b><span style='font-size:16.0pt;mso-bidi-font-family:
Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>Modalités spécifiques de
l’adhésion par internet<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>L’adhésion via le site internet suppose que vous soyez, au
préalable, connecté à votre espace personnel au moyen de votre identifiant et
de votre mot de passe.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>L’adhésion est réalisée sur la base des renseignements fournis
par vos soins en réponse à notre questionnaire visant à recueillir les éléments
permettant votre identification et l’évaluation du risque à assurer.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>L’ensemble des renseignements fournis en réponse à notre
questionnaire donne lieu à l’établissement d’une proposition d’assurance.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>A chaque étape qui précède qui précède la signature en ligne du
contrat, vous disposez de la possibilité de modifier les éléments saisis ou
d’abandonner la procédure.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Après avoir pris connaissance des dispositions contractuelles,
la proposition d’assurance est validée par vos soins par la validation des
cases à cocher et le clic sur le bouton «&nbsp;Confirmer&nbsp;»<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Dès validation de votre adhésion, le bulletin d’adhésion qui
matérialise l’acceptation de l’assureur et comportent le numéro de votre
adhésion est émis. Un émail de confirmation vous est adressé par l’assureur et
vous pourrez consulter votre bulletin d’adhésion dans votre espace personnel.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>En cas de contestation, seules ces informations fournies à
l’adhérent (proposition, notice d’information, bulletin d’adhésion) ont valeur
probante.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoListParagraph style='text-align:justify;text-indent:-18.0pt;
mso-list:l1 level1 lfo5;tab-stops:59.0pt'><![if !supportLists]><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><span style='mso-list:Ignore'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></b><![endif]><b><span style='font-size:16.0pt;mso-bidi-font-family:
Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>Consultation et
archivage des documents<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Chaque document contractuel mis à votre disposition lors de la
souscription peut faire l’objet d’une impression sur support papier et d’un
enseignement au format Pdf sur le disque dur de votre ordinateur. Par ailleurs,
les documents contractuels seront archivés sur un support fiable et durable.
Ces documents sont accessibles à tout moment dans votre espace personnel,
pendant un délai conforme aux exigences légales.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoListParagraph style='text-align:justify;text-indent:-18.0pt;
mso-list:l1 level1 lfo5;tab-stops:59.0pt'><![if !supportLists]><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><span style='mso-list:Ignore'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></b><![endif]><b><span style='font-size:16.0pt;mso-bidi-font-family:
Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>Convention de preuve<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Les données fournies par l’utilisateur de ce site internet ainsi
que les écrits électroniques ont la même valeur probante qu’un écrit manuscrit.
Les informations fournies sont susceptibles d’être produites en tant que preuve
devant la juridiction compétente en cas de litige entre les parties. Les
parties acceptent que les données stockées et archivées par voie informatique
constituent la preuve des actes passés en ligne par l’utilisateur.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoListParagraph style='text-align:justify;text-indent:-18.0pt;
mso-list:l1 level1 lfo5;tab-stops:59.0pt'><![if !supportLists]><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><span style='mso-list:Ignore'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></b><![endif]><b><span style='font-size:16.0pt;mso-bidi-font-family:
Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>Responsabilités<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>L’éditeur du site et l’hébergeur déclinant toute responsabilité en
cas de dysfonctionnement pouvant résulter de l’utilisation de l’équipement
personnel de l’utilisateur pour accéder aux différents services, de faits
propres aux fournisseurs d’accès ou d’un cas de force majeure. Il vous
appartient d’assurer la sécurité de votre ordinateur. Lorsque vous accédez au
site internet, vérifiez soigneusement l’adresse affichée par votre navigateur
internet, vérifiez la dernière connexion, déconnectez-vous après chaque
utilisation, ne cliquez jamais sur un lien contenu dans un e-mail non
sollicité, supprimez les e-mails douteux sans les ouvrir, …<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center;tab-stops:59.0pt'><b><u><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>DEFINITIONS<o:p></o:p></span></u></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Adhérent&nbsp;</span></b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>:
L’adhérent est la personne physique qui adhère au contrat et paie les
cotisations. Il est âgé de 16 ans au moins et de 65 ans au plus au moment de
l’adhésion.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Age&nbsp;: </span></b><span style='font-size:16.0pt;mso-bidi-font-family:
Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>L’âge des assurés se
calcule par différence de millésime, année en cours moins année de naissance.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Assuré(s)&nbsp;:</span></b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>
les assurés sont&nbsp;:<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>- L’adhérent<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>- Le conjoint de l’adhérent (défini ci-après) s’il est mentionné
sur le Bulletin d’adhésion.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>- Les enfants de l’adhérent et de son conjoint (définis ci-après)
s’ils sont mentionnés sur le Bulletin d’adhésion.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Pour être assuré, l’adhérent et son conjoint doivent avoir leur
résidence principale en France ou pays membre de l’union européen y compris
dans les départements et territoire d’Outre-Mer.<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Ayants droit&nbsp;: </span></b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>Sont
considérés comme ayants droit de l’assuré&nbsp;: son conjoint vivant sous le
même toit et ses enfants.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Si l’assuré est un enfant au sens de la définition ci-après, les
ayants-droit au sens du contrat sont&nbsp;: ses parents et ses frères et sœurs.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Bénéficiaires&nbsp;:</span></b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-<u>En cas de décès de l’assuré</u>&nbsp;: Les bénéficiaires
sont les ayants droits justifiant avoir subi un préjudice moral ou économique
direct du fait du décès de l’assuré, à l’exception de ceux qui auraient causé
volontairement les dommages à la victime assurée au titre du présent contrat.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Conjoint&nbsp;:</span></b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'> La
personne mariée à l’assuré OU la personne signataire d’un pacte civil de
solidarité (PACS) avec l’assuré OU le concubin notoire, libre de tout lien
conjugal ou de PACS avec l’assuré et vivant sous le même toit que l’assuré.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Consolidation&nbsp;: </span></b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>La
consolidation est la stabilisation de l’état de santé permettant de se
prononcer sur le caractère définitif de l’invalidité. Il s’agit du stade auquel
les lésions ou affections dont l’assuré est atteint ne sont plus susceptibles
d’évoluer, en l’état des connaissances médicales de l’époque. La consolidation
fait l’objet d’un constat médical.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Droit commun&nbsp;: </span></b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>L’ensemble
des règles juridiques définies par la Loi et la jurisprudence et s’appliquant à
tous en France.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Enfants assuré</span></b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>s&nbsp;:
Les enfants de l’adhérent ou de son conjoint, fiscalement à charge d’un de
leurs parents et âgés de moins de 26 ans.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Tiers&nbsp;:</span></b><span style='font-size:16.0pt;mso-bidi-font-family:
Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'> Toute autre personne
que l’assureur, l’adhérent, l’assuré ou le bénéficiaire du contrat.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><b style='mso-bidi-font-weight:
normal'><span style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
minor-latin;color:#28324E'><span style='mso-spacerun:yes'>     </span>ARTICLE 1
– VOS DECLARATIONS<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>L’adhésion
est conclue sur la base des déclarations de l’adhérent. Celui-ci est tenu de
répondre exactement à toutes les questions posées par l’assureur (article L
113-2 du Code des Assurances).<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>Toute
réticence, fausse déclaration, omission ou inexactitude, dans les déclarations
à l’adhésion ainsi qu’en cours de vie du contrat, selon qu’elle est
intentionnelle ou non, peut nous amener à prendre les sanctions ci-dessous.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>-
Toute réticence ou fausse déclaration intentionnelle entraine la nullité du
contrat, conformément aux dispositions de l’article L.113-8 du Code des
Assurances (le contrat est considéré comme n’ayant jamais existé)<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>-
Toute omission ou inexactitude non intentionnelle dans les déclarations
entraine l’application de l’article L113 -9 du Code des Assurances (réduction
de l’indemnité en cas de sinistre, en proportion des cotisations payées par
rapport aux cotisations qui auraient été dues si les risques avaient été
exactement et complétement déclarés.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>Si,
dans le cadre d’un sinistre, l’assuré fait une ou plusieurs fausses
déclarations ou exagère le montant des préjudices, il perd pour ce sinistre le
bénéfice des garanties du contrat. Il en va de même pour les ayants droits qui
demanderaient indûment une prestation au titre d’une garantie décès de
l’assuré. </span></b><span style='font-size:16.0pt;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin;color:#28324E'>Toute somme indûment versée fera
l’objet d’une action aux fins de remboursement, et le cas échéant de suites
judiciaires. En cas d’événement mettant en jeu le présent contrat, l’adhérent
(ou les ayants droit) sont tenus de déclarer à l’assureur l’existence des
autres contrats d’assurance à caractère indemnitaire couvrant le même risque.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:18.0pt;text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-left:18.0pt;text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-left:18.0pt;text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ARTICLE 2 – OBJET DE LA GARANTIE<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Le contrat garantit, dans les conditions définies ci-après, les
préjudices résultant d’évènements accidentels garantis, dès lors que l’accident
entraine le décès de l’assuré<span style='mso-spacerun:yes'>  </span><span
style='mso-spacerun:yes'> </span>et qu’il est survenu entre le jour de la prise
d’effet de l’adhésion et sa résiliation.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:18.0pt;text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><span style='mso-spacerun:yes'>       </span><b>ARTICLE 3 –
ETENDUE TERRITORIALE<o:p></o:p></b></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Les garanties s’exercent en France Métropolitaine, dans les
départements et régions d’Outre-Mer, dans les principautés d’Andorre et de
Monaco, dans les pays membres de l’Union Européenne, en Suisse, en Islande, au
Liechtenstein, à St Marin, au Vatican et en Norvège. Lors de voyages et de
séjours qui n’excèdent pas une durée continue de 3 mois, les garanties
s’exercent dans le reste du monde.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ARTICLE 4- MONTANT DE LA GARANTIE <o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ARTICLE 4.1 – Nature de la garantie <o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Le contrat revêt un caractère indemnitaire. Il a pour objet
d’offrir à l’assuré ou au bénéficiaire la prise en charge de tous ses frais
pour le rapatriement dans son pays d’origine lors d’un décès selon les règles
applicables en droit commun. <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ARTICLE 4.2 – Engagement maximum de l‘assureur<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-Le cumul des indemnités versées par l’assureur au titre du
présent contrat ne peut dépasser, par victime, la somme indiquée au bulletin
d’adhésion.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-Lorsque le contrat couvre les enfants
(adhésion&nbsp;«&nbsp;Familles&nbsp;» et «&nbsp;Familles
monoparentales&nbsp;»), le cumul des indemnités versées par l’assureur au titre
du présent ne peut dépasser 1500 EUR par événement&nbsp;? <span class=GramE>garanti</span>
pour l’ensemble des assurés. Dans ce cas d’indemnité sera répartie proportionnellement
en tenant compte du nombre de victimes et du montant total des préjudices par
victime.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ARTICLE 5 – NON CUMUL DES PRESTATIONS<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Les prestations couvertes par le présent contrat ne se cumulent
pas avec celles perçues ou à percevoir par le bénéficiaire au titre des mêmes
chefs de préjudice notamment de la part d’un organisme social, de tout autre
régime de prévoyance individuelle ou collective (y compris les sociétés
mutualistes ou caisses de retraite) et de l’employeur, d’autres assurances
couvrant les mêmes risques. Le bénéficiaire du contrat s’oblige à communiquer à
l’assureur tous les éléments constitutifs de sa protection sociale et lui
transmettre, dès qu’elles lui sont notifiées par le ou les organismes
débiteurs, le montant de toutes les prestations qu’il est susceptible de
percevoir au titre de l’accident garanti. Les prestations perçues à d’autres
titres viennent en déduction de celles dues au titre du présent contrat,
l’assureur versant le complément au bénéficiaire des garanties, s’il y a lieu.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ARTICLE 6- LES PREJUDICES <span class=GramE>INDEMNISES</span> <o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Les préjudices sont indemnisés selon les règles applicables en
droit commun français.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ARTICLE 6.1 – En cas de décès<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>En cas de décès de l’assuré directement imputable à un accident
garanti, l’assureur indemnise ses ayants droit de leurs préjudices directs.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Il s’agit des préjudices cités ci-après&nbsp;:<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ARTICLE 6.1.1 -Les préjudices patrimoniaux<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>- Frais d’obsèques et frais divers&nbsp;: </span></b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ce sont les frais liés à l’organisation des obsèques. Le montant
est versé dans la limite du capital indiqué sur le Bulletin d’adhésion,
plafonné aux frais réellement exposés.<o:p></o:p></span></p>

<p class=MsoNormal style='tab-stops:59.0pt'><b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>-
Pertes de revenus&nbsp;: </span></b><span style='font-size:16.0pt;mso-bidi-font-family:
Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>c’est l’incidence économique
du décès pour les ayants droit.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ARTICLE 6.1.2 -Les préjudices moraux<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>- Préjudice d’affection&nbsp;</span></b><span style='font-size:
16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>:
il s’agit de la souffrance morale causée par la perte d’un membre de la famille
ou d’un proche couvert par le présent contrat. L’indemnisation varie selon le
degré de communauté ou de proximité de vie.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ARTICLE 6.2&nbsp;: Non cumul des indemnités d’invalidité
permanente et décès<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Lorsque postérieurement au versement de l’indemnité due pour
l’invalidité permanente, l’assuré décède des suites de l’accident, les
indemnités dues au titre du décès ne sont versées que sous déduction des sommes
déjà réglées par l’assureur au titre de l’invalidité permanente et des
préjudices personnels. Si les indemnités réglées au titre de l’invalidité
permanente et des préjudices personnels sont supérieures à celles qui auraient
été dues au titre du décès, elles restent acquises à l’assuré.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ARTICLE 7 – CONDITIONS D’ADMISSION DES ASSURES<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>A l’adhésion, aucune formalité médicale n’est exigée. Pour
bénéficier de l’assurance, l’adhérent&nbsp;:<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-complète le bulletin d’adhésion, par laquelle il donne son
consentement à l’assurance, <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-choisit les garanties parmi les options proposées, adhérent,
conjoint, enfants<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-paye la cotisation<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Chaque adhérent ne peut adhérer qu’une fois au titre du contrat «&nbsp;ASSURANCE
ACCIDENTS DE LA VIE&nbsp;».<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ARTICLE 8 – PRISE D’EFFET ET DUREE DE L’ADHESION<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Sous réserve du paiement de la première cotisation, l’adhésion
prend effet à la date demandée sur le bulletin d’adhésion, et, au plus tôt, le
lendemain à 0 heure de la date de réception du bulletin d’adhésion par
l’assureur. <b>Elle est accordée pour un an</b> puis se renouvelle par tacite
reconduction d’année en année.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ARTICLE 9 - PRESCRIPTION<span style='mso-spacerun:yes'>  
</span><o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>La prescription est la date ou la période au-delà de laquelle
aucune réclamation n’est plus recevable. Elle est régie par les règles
ci-dessous, édictées par le Code des Assurances, lesquelles ne <span
class=GramE>peuvent</span> être modifiées, même d’un commun accord, par les
parties au contrat d’assurance.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Délai de prescription&nbsp;: </span></b><span style='font-size:
16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>Aux
termes de l’article L.114-1 du Code, «&nbsp;Toutes actions dérivant d’un
contrat d’assurance sont prescrites par deux ans à compter de l’événement qui y
donne naissance. Toutefois, ce délai ne court&nbsp;:<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
class=GramE><span style='font-size:16.0pt;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin;color:#28324E'>1.en</span></span><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'> cas de réticence, omission, déclaration fausse ou inexacte sur
le risque couru, que du jour où l’assureur en a eu connaissance.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
class=GramE><span style='font-size:16.0pt;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin;color:#28324E'>2.en</span></span><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'> cas de sinistre, que du jour où les intéressés en ont eu
connaissance, s’ils prouvent qu’ils ont ignoré jusque-là.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Quand l’action de l’assuré contre l’assureur a pour cause le
recours d’un tiers, le délai de la prescription ne court que du jour où ce
tiers a exercé une action en justice contre l’assuré ou a été indemnisé par ce
dernier.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>La prescription est portée à dix ans dans les contrats
d’assurance sur la vie lorsque le bénéficiaire est une personne distincte du
souscripteur et, dans les contrats d’assurance contre les accidents atteignant
les personnes, lorsque les bénéficiaires sont les ayants droit de l’assuré
décédé.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Pour les contrats d’assurance sur la vie, nonobstant les
dispositions du 2°, les actions du bénéficiaire sont prescrites au plus tard
trente ans à compter du décès de l’assuré.&nbsp;»<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Causes d’interruption de la prescription</span></b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>&nbsp;: Aux termes de l’article L.114-2 du Code, la prescription
est interrompue par une des causes ordinaires d’interruption de la prescription
et par la désignation d’experts à la suite d’un sinistre. L’interruption de la
prescription de l’action peut, en outre, résulter de l’envoi d’une lettre
recommandée avec accusé de réception adressée par l’assureur à l’assuré en ce
qui concerne l’action en paiement de la prime et l’accusé à l’assureur en ce
qui concerne le règlement de l’indemnité.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Les causes d’interruption ordinaires sont les suivantes&nbsp;:<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-toute assignation ou citation en justice, même en référé<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-tout acte d’exécution forcé<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-toute reconnaissance par l’assureur du droit à garantie de
l’assuré<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-toute reconnaissance de dette de l’assuré envers l’assureur<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-une mesure conservatoire prise en application du code des
procédures civiles d’exécution.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ARTICLE 10 : CESSATION DES GARANTIES<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Pour l’ensemble des assurés, les garanties cessent du paiement
du capital au titre du décès de l’adhérent.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ARTICLE 11&nbsp;: RESILIATION DE L’ADHESION<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>L’adhésion au contrat «&nbsp;Mutuelle Prévoyance décès Waloude »
cesse&nbsp;:<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-en cas de résiliation par l’adhérent à tout moment moyennant
préavis d’un mois à adresser à l’assureur par lettre recommandée,<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-en cas de non-paiement de la cotisation (cf. article 15
«&nbsp;non-paiement de la cotisation&nbsp;»),<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-en cas de non-acceptation par l’adhérent de nouvelles
propositions tarifaires faites par l’assureur (V. article 14- Cotisation),<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-en cas de décès de l’adhérent&nbsp;; cependant, si l’adhésion
couvre d’autres personnes, les droits et obligations de l’adhérent décédé
peuvent, avec l’accord de l’assureur, être transférés l’une d’entre elles.
L’adhésion actuellement en vigueur sera résiliée et une nouvelle adhésion sera
conclue en remplacement.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ARTICLE 12&nbsp;: COTISATIONS<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Le montant de la cotisation est déterminé en fonction de
l’option choisie et de l’âge de l’adhérent. En fonction des résultats
techniques du contrat, le montant de la cotisation peut être révisé, chaque
année, à la date d’anniversaire de l’adhésion. Si l’adhérent n’accepte pas le
nouveau tarif, il en avise l’assureur&nbsp;: l’adhésion prendra fin à cette
échéance et les garanties et les prestations cessent d’être dues.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Lorsque l’adhérent opte pour le paiement par prélèvement, <span
class=GramE>la</span> pré notification des prélèvements afférents au contrat est
effectuée par le biais du bulletin d’adhésion lors de l’adhésion et de
l’avenant en cas de modification de l’adhésion.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Le non-paiement de la cotisation ou d’une fraction de cotisation
dans le délai de 10 jours après son échéance, entraine la suspension de
l’adhésion par l’assureur dans les 30 jours qui suivent l’envoi de la lettre
recommandée de mise en demeure de paiement. La résiliation intervient 10 jours
après l’expiration du délai de 30 jours, conformément aux dispositions de
l’article L113-3 du Code des Assurances. L’envoi de cette mise en demeure est
indépendant de notre droit de poursuivre l’exécution du contrat en justice. Au
cas où la cotisation annuelle a été fractionnée, toutes les fractions non
encore payées de l’année d’assurance en cours deviendront automatiquement
exigibles après l’envoi de la lettre de mise en demeure. Les sommes non payées
à bonne date porteront intérêt au taux légal à compter de la date de mise en
demeure restée infructueuse.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ARTICLE 13&nbsp;: OBLIGATIONS EN CAS DE SINISTRES <o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Pour l’ensemble des garanties, les décisions prises par la
Sécurité Sociale ou tout autre organisme similaire, ne s’imposent pas à
l’assureur.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Pour ne pas perdre son droit aux prestations, l’assuré (ou ses
ayants droit) doit fournir toute pièce justificative, répondre à tous
questionnaires de l‘assureur et se prêter, le cas échéant, à toute expertise ou
toute vérification que l’assureur estime nécessaire. Sous réserve de la
législation applicable au pays, l’assuré donne mandat à l’assureur en vue
d’effectuer toute démarche auprès des autorités compétentes pour l’obtention
des justificatifs adhérents au sinistre.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Une expertise est un examen demandé par l’assureur, réalisé par
un médecin indépendant. L’assuré est tenu de fournir à l’expert tous les
éléments que celui-ci estime nécessaires à l’accomplissement de la mission
(compte rendu d’hospitalisation, de consultation, radiographies, examens biologiques…).
L’assuré a la possibilité de se faire assister à cet examen, à ses frais, par
un médecin de son choix.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Par ailleurs, les médecins, agents ou délégués de l’assureur
doivent avoir libre accès auprès de l’assuré, lequel s’engage par avance de
recevoir et à les informer loyalement de son état.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ARTICLE 14 – FORMALITES DES PRESTATIONS<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>L’accident entrainant la mise en jeu de la garantie doit être
déclaré à l’assureur dans le délai maximum de 5 jours ouvrés suivant
l’accident. Si le retard dans la déclaration cause un préjudice à l’assureur,
l’indemnité pourra être réduite à concurrence de ce préjudice, sous réserve de
l’application, le cas échéant, des dispositions de droit local pour l’Alsace et
la Moselle.<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Les pièces suivantes sont à remettre à l’organisme créancier
pour la constitution du dossier.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Dans tous les cas</span></b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>&nbsp;:<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-tout élément de nature à établir la survenance de l’accident,
la réalité des préjudices subis et le lien de causalité entre ces préjudices et
l’accident,<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-toutes précisions utiles sur le ou les tiers en cause le cas
échéant,<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-communiquer l’identité des témoins éventuels,<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-tous les éléments constitutifs de sa protection sociale et la
ou les notifications de toutes prestations services par le ou les organismes
débiteurs,<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-l’acte de décès de l’assuré,<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-toute pièce de nature à justifier du droit du ou de ses
bénéficiaires,<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-la ou les factures acquittées des frais funéraires exposés<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-la ou les notifications des capitaux et prestation servies aux
ayants droits par les organismes sociaux, organismes de prévoyance collective ou
individuelle, autres assureurs couvrant le même risque.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>En complément</span></b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>&nbsp;:<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Pour les enfants&nbsp;: copie du livret de famille<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ARTICLE 15- LES ENGAGEMENTS DE L’ASSUREUR<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>Le
règlement des préjudices économiques et patrimoniaux est subordonné à la
production des créances définitives des organismes prestataires tels
qu’organismes sociaux et de prévoyance, employeur, les retards éventuels
imputables à ces derniers ne pouvant être opposés à l’assureur.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>Le
paiement par l’assureur de l’indemnité acceptée par le ou les bénéficiaires du
contrat interviendra dans le délai maximum d’un mois de l’accord
définitif&nbsp;;<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>ARTICLE
16- MODALITES DE PAIEMENT DES INCIDENTS<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>Les
indemnités dues au titre de l’application des garanties du présent contrat sont
versées au (x) bénéficiaire (s) en capital.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>ARTICLE
17– ASSURANCES CUMULATIVES<span style='mso-spacerun:yes'>  </span><o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>Les
garanties de même nature contractées auprès de plusieurs organismes assureurs
produisent leurs effets dans la limite de chaque garantie quelle que soit la
date d’adhésion. Dans cette limite, le bénéficiaire du contrat ou de la
convention peut obtenir l’indemnisation en s’adressant à l’organisme de son
choix.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>En
cas d’événement mettant en jeu le présent contrat, le bénéficiaire est tenu de
déclarer l’existence des autres contrats d’assurance à caractère indemnitaire
couvrant le même risque.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>Quand
plusieurs assurances contre un même risque <span class=GramE>sont</span>
contractées dans le but de nuire ou de manière frauduleuse, les sanctions
prévues à l’article L 121-3 du Code de Assurance, premier alinéa, sont
applicables.<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>Le
cumul d’assurances ne peut avoir pour effet de procurer à l’assuré ou au
bénéficiaire du contrat une indemnisation supérieure à celle à laquelle il peut
prétendre au titre du risque garanti telle qu’évaluée selon les règles du droit
commun.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>ARTICLE
18 : SURBOGATION<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>L’assureur
est subrogé, jusqu’à concurrence de l’indemnité versée, dans les droits et
actions de l’assuré ou du bénéficiaire contre les tiers qui, par leur fait ont
causé le dommage ayant donné lieu au versement des indemnités.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>L’assureur
ne peut recourir contre les enfants, descendants, ascendants, généralement
toute personne vivant habituellement au foyer de l’assuré, sauf en cas de
malveillance commise par une de ces personnes.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>La
subrogation est limitée aux indemnités versées. Si la subrogation ne peut, du
fait de l’assuré ou du bénéficiaire, s’opérer en faveur de l’assureur, la
garantie de cette dernière cesse d’être engagée dans la mesure où aurait pu
exercer la subrogation.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>En
cas de recours, les pièces médicales seront transmises par notre service
médical au service médical de la compagnie d’assurance adverse.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify'><b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>ARTICLE
19 - ASSISTANCE<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>L’adhérent
bénéficie automatiquement d’AAV Assistance mise en œuvre par L4ASSOCIATION
Waloude. L’Assistance est indissociable du contrat de mutuelle prévoyance santé
mais prend fin lors de la cessation du contrat d’assurance. Par ailleurs, les
modalités pratiques d’Assistance, notamment les cotisations, les prestations et
les exclusions, peuvent être modifiées en fonction des résultats du protocole
d’assistance ou en cas de changement d’assister.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><b><u><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Objet de la garantie&nbsp;</span></u></b><u><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>:<o:p></o:p></span></u></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>Dans
les conditions d’assistance définies ci-après, la présente convention
d’assistance garantit les préjudices résultant d’événements accidentels qui
surviennent dans votre vie privée.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>Notre
intervention est soumise à la condition expresse que l’accident soit survenu
entre le jour de prise d’effet du contrat d’assurance – Assurance Accidents de
la Vie et sa résiliation.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:center 226.65pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>DECES D’UN BENEFICIAIRE<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:center 226.65pt'><b><u><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p><span style='text-decoration:none'>&nbsp;</span></o:p></span></u></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:center 226.65pt'><b><u><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Transport/Rapatriement de corps</span></u></b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>&nbsp;: Si vous décédez au cours d’un déplacement suite à un
Accident garanti, Nous organisons et prenons en charge le transport du corps
jusqu’au lieu des obsèques proches du Domicile en France. Nous prenons
également en charge les frais nécessités par les soins de préparation et les
aménagements spécifiques au transport, et participons aux frais de cercueil jusqu‘à
concurrence de 458 €. Les autres frais (notamment frais de cérémonie, convois
locaux, inhumation) restent à la charge de la famille.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:center 226.65pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:center 226.65pt'><b><u><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Présence d’un Proche en cas de décès du bénéficiaire à plus de
100 km du Domicile&nbsp;:<o:p></o:p></span></u></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:center 226.65pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Si vous décédez à plus de 100 km de votre Domicile suite à un
Accident garanti, et si la présence d’un Proche sur place est indispensable
afin d’effectuer les démarches administratives consécutives au décès, Nous
organiserons et prenons en charge&nbsp;:<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:center 226.65pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-son Transport aller/retour, afin de se rendre sur le lieu de
décès&nbsp;;<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:center 226.65pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>-son séjour à l’hôtel (chambre et petit déjeuner) jusqu’à
concurrence de 46 € par nuit pendant 2 nuits maximum.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:center 226.65pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Pour les résidents de Guyane, de Guadeloupe et de Martinique, le
décès doit survenir en dehors de leur territoire de résidence.<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:center 226.65pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Cette prestation n‘est pas accessible aux résidents de
Saint-Martin.<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:center 226.65pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>ASSISTANCE PSYCHOLOGIQUE EN CAS DE DECES DU BENEFICIAIRE<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><u><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Appels de convivialité</span></u></b><b><span style='font-size:
16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>
(fuseau horaire de France métropolitaine)&nbsp;: </span></b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Nous recevons vos appels téléphoniques et dialoguons avec Vous.
De plus, Nous pouvons Vous appeler, à votre demande ou à celle de votre
entourage, à date et heure fixées par vos soins.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:96.9pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt 89.15pt'><b><u><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Information</span></u></b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>&nbsp;:<span
style='mso-tab-count:1'> </span>Nous vous proposons toute l’aide possible si
vous venez de perdre votre conjoint. Sur simple appel téléphonique du lundi au
vendredi de 9 heures à 18 heures, hors des jours fériés (fuseau horaire de
France métropolitaine), Nous vous communiquons, par téléphone uniquement, les
renseignements sur une pension de réversion (modalités de calcul, d’attribution
et de versement). Nous pouvons vous communiquer les coordonnées des organismes
qui seront en mesure de traiter votre situation particulière.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt 89.15pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt 89.15pt'><b><u><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Envoi de formulaire</span></u></b><span style='font-size:16.0pt;
mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;color:#28324E'>&nbsp;:
Si Vous le souhaitez, Nous pourrons vous faire parvenir par courrier
électronique ou postal les formulaires types nécessaires à la constitution d’un
dossier de demande de pension de réversion à l’exception toutefois des
formulaires qui ne peuvent être obtenus que par Vous-même auprès de
l’organisme.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt 89.15pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt 89.15pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>CONDITIONS D’APPLICATION DU SERVICE Informations Décès,
Successions, Pension de réversion, Démarches administratives</span></b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>&nbsp;: En aucun cas les renseignements ne feront l’objet d’une
confirmation écrite. Certaines demandes peuvent nécessiter des recherches. Nous
nous engageons alors à Vous répondre dans un délai de 48 heures. Notre
responsabilité ne pourra en aucun cas être recherchée dans le cas d’une
mauvaise utilisation ou interprétation inexacte du ou des renseignements
communiqués.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center;tab-stops:59.0pt'><b><u><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>MODALITÉS D’EXAME DES RÉCLAMATIONS<o:p></o:p></span></u></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Lorsque Vous êtes mécontent du traitement de votre demande, de
votre première démarche doit être d’en informer votre interlocuteur habituel
pour que la nature de votre insatisfaction soit comprise et que des solutions
soient recherchées.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>En cas de désaccord, Vous pouvez Nous adresser une réclamation à
l’adresse suivante&nbsp;:<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Association Mutuelle Prévoyance Décès <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Service Traitement des Réclamations<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>7 allée des Monégasques <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>91300 Massy<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Un accusé de réception Vous parviendra dans les dix (10) jours
ouvrables (hors dimanches et jours fériés) à compter de la réception de la
réclamation, sauf si la réponse à votre réclamation Vous est transmise dans ces
délais.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>Une réponse Vous sera fournie au plus tard dans le 2 (deux) mois
suivant la date de réception de votre réclamation, hors survenance de
circonstances particulières dont l’assureur Vous tiendrait informé.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><b><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>LOI APPLICABLE – LANGUE UTILISÉE<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>La convention d’assistance est régie par la loi française.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;tab-stops:59.0pt'><span
style='font-size:16.0pt;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;
color:#28324E'>La langue utilisée par l’exécution de la Convention est le
français.<o:p></o:p></span></p>


</div>
<div class="column is-2"></div>
</div>
</section>