<div class="steps-actions">
    <div class="steps-action">
      <a href="#" data-nav="previous" class="button is-medium is-light">Retour</a>
    </div>
    <div class="steps-action">
      <a href="#" data-nav="next" class="button is-medium is-link">Continuer</a>
    </div>
  </div>