{% extends 'base.html.twig' %}

{% block title %}Edit PhotoUser{% endblock %}

{% block body %}
    <h1>Edit PhotoUser</h1>

    {{ include('photo_user/_form.html.twig', {'button_label': 'Update'}) }}

    {# <a href="{{ path('photo_user_index') }}">back to list</a>

    {{ include('photo_user/_delete_form.html.twig') }} #}
{% endblock %}
