{% extends 'base.html.twig' %}

{% block title %}New PhotoUser{% endblock %}

{% block body %}
    <h1>Create new PhotoUser</h1>

    {{ include('photo_user/_form.html.twig') }}

    {# <a href="{{ path('photo_user_index') }}">back to list</a> #}
{% endblock %}
