            <div class="column">
              {{ form_row(form.paysresidence) 
            }}
            </div>

            <div class="column">
              {{ form_row(form.villeresidence) 
            }}
            </div>